<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaviStar | Login Page</title>
    <link rel="stylesheet" href="../libs/normalize.css">
    <link rel="stylesheet" href="../libs/bootstrap-grid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="login">
        <div class="container login_container">
            <div class="login_modal col-md-9">
                <h1 class="login_title">Good Morning!</h1>
                <p class="login_desc">This day will be great.</p>
                <img src="../img/loginImg.jpg" alt="PHOTO" class="login_img">
                <form class="col-sm-9">
                    <div class="row row_input">  
                        <div class="input-field col s6 input_field_added">
                            <span class="login_icon_bg">
                                <i class="fas fa-user-alt login_icon"></i>
                            </span>
                            <input id="icon_prefix" class="login_input" type="text" class="validate">
                            <label for="icon_prefix" class="login_label">Username</label>
                        </div>
                    </div>
                    <div class="row row_input">
                        <div class="input-field col s6 input_field_added">
                            <span class="login_icon_bg">
                                <i class="fas fa-lock login_icon"></i>
                            </span>
                            <input id="icon_telephone" class="login_input"  type="tel" class="validate">
                            <label for="icon_telephone" class="login_label">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <p style="margin: 0 0.75rem;">
                          <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span style="color: #fff;">Remember Me</span>
                          </label>
                        </p>
                    </div>
                    <div class="row">
                        <a class="waves-effect waves-light btn-small orange login_btn">Login</a>
                        <a href="#" class="login_btn_forget">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>