body {
    background-color: #1E2723;
    font-family: 'Montserrat', sans-serif;
  }
  .input-field > label {
    color: #fff;
  }
  .login_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login_modal {
    width: 100%;
    margin-top: 140px;
    padding: 20px 20px 45px 400px;
    background-color: #7AB33C;
    box-shadow: 0 0 25px 8px #000;
    border-radius: 1px;
    position: relative;
  }
  .login_modal:after {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #fff;
  }
  .login_input {
    padding-left: 40px !important;
    border-bottom: 1px solid #fff !important;
    box-shadow: none !important;
    box-shadow: 0 !important;
  }
  .login_input:focus {
    box-shadow: none !important;
    box-shadow: 0 !important;
  }
  .login_label {
    left: 50px !important;
  }
  .login_label.active {
    color: orange !important;
  }
  .login_title {
    color: #fff;
    font-size: 32px;
    padding-left: 22px;
  }
  .login_desc {
    color: #fff;
    font-size: 16px;
    padding-left: 22px;
  }
  .login_img {
    width: 316px;
    position: absolute;
    left: -40px;
    bottom: -13px;
    box-shadow: 0 0 28px -15px #000;
  }
  .login_img:after {
    position: absolute;
    top: 50px;
    left: 114px;
    display: block;
    width: 45px;
    height: 45px;
    z-index: 1000;
    background-color: orange;
  }
  .login_btn {
    margin: 0 0.75rem;
  }
  .login_btn_forget {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    align-items: center;
    display: flex;
  }
  .login_btn_forget:hover {
    text-decoration: underline;
  }
  .login_icon {
    color: #fff;
  }
  .login_icon_bg {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 8px;
    left: 11px;
  }
  .row_input {
    margin-bottom: 0;
  }
  .input_field_added {
    margin-top: 0;
  }
  @media (max-width: 1400px) {
    .login_modal {
      padding: 20px 20px 45px 300px;
    }
  }
  @media (max-width: 1100px) {
    .login_modal {
      padding: 20px 20px 45px 80px;
    }
    .login_img {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .login_modal {
      padding: 20px 20px 45px 40px;
    }
  }
  @media (max-width: 576px) {
    .login_modal {
      padding: 20px;
    }
    .login_input {
      width: auto !important;
    }
  }
  